body{
    background-color: rgb(12, 85, 87);
    padding-top: 20%;
}

header{
    background-color: rgb(152, 10, 5);
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    padding: 40px;
    gap: 20px;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
    color: yellow;
}

p{
    color: beige;
}

img{
    width: 400px;
}

h2{
    color: coral;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    color: bisque;
}