body{
    background-color: rgb(12, 85, 87);
    padding-top: 20%;
}

header{
    background-color: rgb(152, 10, 5);
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    padding: 40px;
    gap: 20px;
}

a:hover{
    background-color: rgb(26, 81, 96);
     
}

a:focus{
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    color: yellow;
    font-size: clamp(20px, 5vw, 56px)
}

.Layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.Layout article{
    background-color: beige;
    font-size: clamp(16px, 4vw, 36px);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    flex-grow: 1;
    
}

#bigger{
    flex-grow: 2;
}

.cards{
    margin-top: 45px;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards article{
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
    font-size: 28px;
    width: 25vw;
    max-width: 250px;
    min-width: 190px;

}

.cards article p{
    color: black;
}

p{
    color: beige;
}

img{
    width: 400px;
}

h2{
    color: coral;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    color: bisque;
}